<div class="card border-light mb-3">
    <div class="font-weight-bold text-left" style="padding: 10px;" onclick="window.location=('{{ path('post_detail', { 'slug': article.slug }) }}')">{{ article.date | date('Y-m-d H:i:s') }} - {{ article.title }}</div>
    <div class="row">
        <div class="col-10 col-md-10">
            <div class="row">
                <p class="font-weight-normal" onclick="window.location=('{{ path('post_detail', { 'slug': article.slug }) }}')">{{ article.text|textify  }}</p>
                <div class="col-8 col-md-8">
                    Autor: {{ article.author.username }}
                </div>
                <div class="col-8 col-md-8">
                    Rating: {{ article.rate.rating }} ({{ article.rate.numberOfVotes }})
                </div>
                <div class="col-8 col-md-4">
                    Comments: {{ article.comments|length }}
                </div>
            </div>
        </div>
        <div class="col-2 col-md-2" onclick="window.location=('{{ path('post_detail', { 'slug': article.slug }) }}')"><img src=""/></div>
    </div>
</div>